services:
  - type: web
    name: homeqadam-backend

    runtime: docker
    plan: free
    autoDeploy: true

    healthCheckPath: /actuator/health

    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
